body {
    background-image: url("../img/azul.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed

}
 #Informações{
    
 }
  
#login-page{
  color: red;
  background-color: rgba(0, 0, 0, 0.218);
  width: 20%;
}