<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/agradecimento.css">
    <title>Compra Finalizada</title>
</head>
<body>
    <div class="container">
        <h1>Compra de {{nome}} Finalizada com Sucesso!</h1>
        <p>Agradecemos por escolher nossos produtos. Sua compra foi finalizada com sucesso!</p>
        <img src="https://media.tenor.com/0mHUtRFCt5MAAAAC/confetti-confete.gif" alt="Confetti" title="Confetti">
    </div>
</body>
</html>
